* {
  /* padding: 0; */
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

header {
  /* position: sticky; */
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #000000;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: fixed;
  text-align: center;
  margin: auto -16px;
  bottom: 0;
  padding: 21px 32px;
  width: 100%;
  height: 8rem;
  background-color: #f8e9bf;
  /* z-index: 100; */
  /* overflow: hidden; */
}

footer p {
  color: #825f05;
  
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: auto;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #000000;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.menu{
  background-color: #f5ba13;
  border: #000000;
  position: absolute;
  top: 14px;
  right: 20px;
  width: 60px;
  height: 60px;
  /* padding: 10 21px;
  top: 30px; */
  overflow: hidden;
  cursor: pointer;
 
}

.contact{
  text-align: justify;
  }

span{
  font-style: italic;
  font-weight: bold;
   }

.navbar {
  position: absolute;
  top: 24px;
  right: 177px;
  width: 60px;
  height: 60px;
    /* display: flex;
    flex-direction: row;
    margin-left: 75%;
    align-items: center;
    justify-content: space-between;
    /* background-color: #333; */
    /* color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 4px;  */ 
    /* padding: 0 30px; */
  }
  ul {
    gap: 3rem;
    /* display: flex; */
  }
  header li {
    list-style-type: none;
    padding: 17px;
    font-weight: 170; 
  }

  a {
    color: #000000;
    text-decoration: none;
  }
  .navbar .log {
    font-weight: 400;
  }

  .dropdown{
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
    z-index: 1;
  }
  
  .dropdown.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  .dropdown ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .dropdown ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
  }
  
  .dropdown ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }

.about{
  text-align: center;
}



#fedbck{
  display: table-caption;
}